<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cineplex_Management.Properties.Settings.Cineplex_ManagementConnectionString"
            connectionString="Data Source=POPPY-PC;Initial Catalog=Cineplex_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cineplex_Management.Properties.Settings.Cineplex_ManagementConnectionString1"
            connectionString="Data Source=SAMI-PC;Initial Catalog=Cineplex_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>